body{
background: url(https://www.dropbox.com/s/jbobmxej7u1c09w/fondou.jpg);
}
h1{

	color:yellow;
	font-family:georgia;
	font-style: italic;
	font-size: 20px;
}
h2{

	color:yellow;
	font-family:georgia;
	font-size: 20px;
}
